
body{
  background-color: #92AB94;
}

.header{
  background-color: #92AB94;
  width: 100%;
  padding: 50px;
}

.header-text{
  font-size: 40px;
  font-weight: 500;
  font-family: Arial;
  color: #050505;
}

.greeting{
  color: #BD5B54;
  font-size: xx-large;
  font-family: cursive;
}
.error-message{
  color: #BD5B54;
  font-weight: 700;
  margin-top: 20px;
}

.form-container{
  width: 50%;
  margin: 60px auto;
}


.search-form {
}

.search-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.results-text{
  color: #c72323;
  font-family: Arial;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  
}

.search-group {
  display: flex;
}

.search-input {
  border: 1px solid #dfe1e5;
  padding: 10px;
  margin-right: 10px;
}

.search-button {
  border: 1px solid #dfe1e5;;
  background-color: #BD5B54;
  height: 52px;
  padding: 10px 20px;
}

.search-button:hover {
  border: 1px solid #dfe1e5;;
  background-color: #DDECDA;
  color: #050505;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  padding: 15px;
  margin-top: 40px;
}